# Sets
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.
- A set is an unordered collection of items.
- Set is defined by values separated by comma inside braces {}.
- Every element is unique(no duplicates).
- Set does not support indexing, because it is unordered  collection of items.

#### Empty set.

In [2]:
set_var = set()
print(set_var)
type(set_var)

set()

set

In [5]:
a = {1,20,3,4,5,6}
print(a)

{1, 3, 4, 5, 6, 20}

In [6]:
print(a)

{1, 3, 4, 5, 6, 20}

In [8]:
b = {20,30,40,40,40,40,50}
print(b)                            #Sets do not save duplicates.

{40, 50, 20, 30}

In [9]:
print(b[2])                        # No indexing is allowed for sets.

TypeError: 'set' object is not subscriptable

In [10]:
s = [1,2,3,1,2,3,1,2,3]
c = set(s)
print(c)                               # sets can be used to remove duplicates.

{1, 2, 3}

#### Set Methods.  
- set.add() --> we can add single element.
- set.update() --> can add multiple elements.
- set.copy() --> copy complete set.
- set.discard() --> remove the particular value if it is available.
- set.remove() --> remove the particular value if it is available, else print error.
- set. clear() --> it deletes all items in set.

In [12]:
c = set()
print(c)
c.add(3)
print(c)  #set.add()

set()
{3}

In [13]:
s = {3,4}
s.update([8,6,14,"abc"])     #set.update()
print(s)

{'abc', 3, 4, 6, 8, 14}

x = {4,5,6}
y = x.copy()
y.add(7)
print(x)
print(y)           #set.copy()

In [19]:
s = {1, 3, 4, 5, 6}
s.discard(4)      # avaiable so it will remove 4.
print(s)
s.discard(8)   #not avaiable do noting, no error as well. 
print(s)

{1, 3, 5, 6}
{1, 3, 5, 6}

In [20]:
s.remove(70) # this iwll through error.

KeyError: 70

#### Set Operations.

In [21]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6}

- Union

In [24]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}