# Decision Tree
- Decision Trees are supervised Machine Learning technique where he data is split according to a certain conditin/parameter.
- Lets assme we want to classify whether a customer could retire or not based on their savings and age.

## Step 1: Business Problem
Create a model that can help predict a species of a penguin based on physical attributes, then we can use that model to help researches classify penguins in the field, instead of needing an experienced biologist.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [2]:
df = pd.read_csv("penguins_size.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE