# Loops
- There may be a situation when you need to execute a block of code several number of times.
- To iterate over items or elements in a given seq like  str, list, tup, set or dict.
- In general, statements are executed sequentially: The first statement in a fucntction is exectued first, followed by the second, and so on.

In [5]:
i = 1
j = i + 5
k = j + 10
print(i, j, k)

i = 2
j = i + 5
k = j + 10
print(i, j, k)

i = 3
j = i + 5
k = j + 10
print(i, j, k)

i = 4
j = i + 5
k = j + 10
print(i, j, k)

1 6 16
2 7 17
3 8 18
4 9 19

In [8]:
for i in range(1,5):  # The Above code can be cut short to this using a for loop.  This is using range. 
    j = i + 5
    k = j + 10
    print(i, j, k)

1 6 16
2 7 17
3 8 18
4 9 19

In [18]:
for i in range(10,51): # print all the numbers between 10 to 50 (both inclusive). 
    print(i, end=" ")   # for print by default the end = \ (new line). Here by keeping end = " " it will print the answer in line with space.

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [20]:
#print even numbers in descending order from 1 to 100
for i in range(100, 1, -2):
    print(i, end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [24]:
# Print even numbers in ascending order from 1 to 100(inclusive)
for i in range(2,100,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [41]:
# Write the python program to get all the even numbers for a given range both are inclusive. 
start = int(input("Enter starting number:"))
end = int(input("Enter end number:"))

for i in range(start,end+1):
    if i%2==0:
        print(i,end=" ")

Enter starting number: 34
Enter end number: 45

34 36 38 40 42 44

In [ ]:
## above can also be done with if else to make sure user enters correct inputs. 
start = int(input("Enter starting number:"))
end = int(input("Enter end number:"))
if start < end:
    for i in range(start,end+1):
        if i%2==0:
            print(i,end=" ")
elif start == end:
    print("Start and End are same, No range to print")
else:
    print("start should be less than end")

In [42]:
#wire program that gives numbers between 1 to 100 which are divisible by 5 and divisible by 7. 
for num in range(1, 101):
    if num%5 == 0 and num%7 == 0:
        print(num,end=" ")

35 70

In [46]:
seq = [1,2,3,4,5]
## Iterating over given list. 
for i in seq:
    j = i +10
    print(i, j)

1 11
2 12
3 13
4 14
5 15

In [48]:
seq = [1,2,3,4,5]
## Iterating over given list. 
for i in seq:
    print("jeevan",i)

jeevan 1
jeevan 2
jeevan 3
jeevan 4
jeevan 5

In [47]:
items = ["item1", "items2", "item3", "item4"]

for i in range(len(items)):
    print(items[i], "is at index",i)

item1 is at index 0
items2 is at index 1
item3 is at index 2
item4 is at index 3

In [2]:
# Sum of items in a given list. 
l = [1,2,3,4,5]

sum = 0 # initialization.
print("inital sum::, sum")

for i in l:
    sum = sum + i
    print("After adding", i, "the sum:", sum)

inital sum::, sum
After adding 1 the sum: 1
After adding 2 the sum: 3
After adding 3 the sum: 6
After adding 4 the sum: 10
After adding 5 the sum: 15

In [3]:
# multiply the list of number. 

l = [4,4,5,6,6]

p = 1

for i in l:
    p = p * i
print(p)

2880

In [12]:
#sum of even numbers in between given ranges (both inclusive). 
lb = int(input("Enter lower boundary:"))
ub = int(input("Enter upper boundary:"))

sum = 0

for i in range(lb, ub+1):
    if(i%2==0):
        sum = sum + i
        print("For i =",i ,"the sum is:", sum)
print("The total is", sum)

Enter lower boundary: 40
Enter upper boundary: 100

For i = 40 the sum is: 40
For i = 42 the sum is: 82
For i = 44 the sum is: 126
For i = 46 the sum is: 172
For i = 48 the sum is: 220
For i = 50 the sum is: 270
For i = 52 the sum is: 322
For i = 54 the sum is: 376
For i = 56 the sum is: 432
For i = 58 the sum is: 490
For i = 60 the sum is: 550
For i = 62 the sum is: 612
For i = 64 the sum is: 676
For i = 66 the sum is: 742
For i = 68 the sum is: 810
For i = 70 the sum is: 880
For i = 72 the sum is: 952
For i = 74 the sum is: 1026
For i = 76 the sum is: 1102
For i = 78 the sum is: 1180
For i = 80 the sum is: 1260
For i = 82 the sum is: 1342
For i = 84 the sum is: 1426
For i = 86 the sum is: 1512
For i = 88 the sum is: 1600
For i = 90 the sum is: 1690
For i = 92 the sum is: 1782
For i = 94 the sum is: 1876
For i = 96 the sum is: 1972
For i = 98 the sum is: 2070
For i = 100 the sum is: 2170
The total is 2170

In [13]:
# Program to print multiplication table of user provided number. 

a = int(input("Enter multplication table:"))
for i in range(1,11):
    print(a, "X" ,i, "=", a*i)

Enter multplication table: 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [17]:
# Write a program that can compute the factorial of a given number. 
f = int(input("Enter the factorial number:"))

fact = 1

for i in range(1,f+1):
    fact = fact*i

print(fact)

Enter the factorial number: 6

720

## Nested for loop.

In [18]:
for i in range(3):
    for j in range(2):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [20]:
s_no = [1,2,3]
marks = [12,15]

for i in marks:
    for j in s_no:
        print(i,j)
print(i+j)

12 1
12 2
12 3
15 1
15 2
15 3
18

In [21]:
for i in range(2):
    for j in range(2):
        print(i,j,"DS")

0 0 DS
0 1 DS
1 0 DS
1 1 DS

In [22]:
for i in range(3):
    for k in [1,2,9]:
        print(i,k)

0 1
0 2
0 9
1 1
1 2
1 9
2 1
2 2
2 9