## Recommendation Engine
- Pecommender systems capture the pattern of people's behaviour and use it to predict what else they might want or like.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")
df.head()

,index,genres,title
0,0,Action Adventure Fantasy Science Fiction,Avatar
1,1,Adventure Fantasy Action,Pirates of the Caribbean: At World's End
2,2,Action Adventure Crime,Spectre
3,3,Action Crime Drama Thriller,The Dark Knight Rises
4,4,Action Adventure Science Fiction,John Carter

In [3]:
df.shape

(4693, 3)

In [4]:
df.isnull().sum()

index      0
genres    27
title      0
dtype: int64

In [5]:
# replacing the null valuess with null string.
df.dropna(inplace=True)

In [ ]:
#converting the text data to feature vectors

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()