## Movie Recommendation Engine
- Pecommender systems capture the pattern of people's behaviour and use it to predict what else they might want or like.

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("movies.csv")
df.head()

,index,genres,title
0,0,Action Adventure Fantasy Science Fiction,Avatar
1,1,Adventure Fantasy Action,Pirates of the Caribbean: At World's End
2,2,Action Adventure Crime,Spectre
3,3,Action Crime Drama Thriller,The Dark Knight Rises
4,4,Action Adventure Science Fiction,John Carter

In [8]:
df.shape

(4693, 3)

In [9]:
df.isnull().sum()

index      0
genres    27
title      0
dtype: int64

In [10]:
# replacing the null valuess with null string.
df.dropna(inplace=True)

In [15]:
#converting the text data to feature vectors

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(df["genres"])

# Cosine Similarity.

In [16]:
# getting the similarity scores using cosine similarity. 
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(feature_vectors)
print(similarity)

[[1.         0.74613936 0.42992699 ... 0.         0.         0.        ]
 [0.74613936 1.         0.57620199 ... 0.         0.         0.        ]
 [0.42992699 0.57620199 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.30603907 0.        ]
 [0.         0.         0.         ... 0.30603907 1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [18]:
print(similarity.shape)

(4666, 4666)