# 1. Fundamental Data Types
Ex:: Integer, float, complex, boolean, string.

# 2. Advanced Data Types or Data Structure or Containers

Ex:: List, Tuple, Set, Dictionary.

# Int - Numeric value without any decimal

In [2]:
a = 10
print(a)

10

type(a) # to check data type:: use tyep() function.

# Float - numberic Value with decimal

In [4]:
b = 3.0
print(b)

3.0

In [6]:
type(b)

float

In [10]:
#id() function in Python. In Python, id() function is a built-in function that returns the unique identifier of an object. The identifier is an integer, which represents the memory address of the object.

In [7]:
id(a)

140643536136784

In [8]:
id(b)

140642737761328

# Type Casting:: Convert from one data type to another data type

In [12]:
b = 5.999999
print(b)

5.999999

In [13]:
int(b)

5

In [14]:
#***** Where ever there are multiple brackets the inner bracket get exectued first.

In [17]:
b = 10.55
c = float(int(b))
print(c)

10.0

In [18]:
type(c)

float

# Boolean - Ture / False

In [20]:
J1 = True
type(J1)

bool

In [21]:
int(True) # In this we are converting True which is boolean into int value. True = 1, False = 0

1

# Complex

Complex literals can be created by using the notation x+yj where x is the real component and y is the imaginary component.

In [22]:
x = 50+20j
print(x)

(50+20j)

In [23]:
type(x)

complex

In [26]:
#if you want just the real part of complex value and it will give the real value in float. 
k = x.real
print(k)

50.0

In [27]:
#if you want just the imaginary part of complex value and it will give the real value in float. 
p = x.imag
print(p)

20.0

# Strings
 A string in Python consists of a series or sequence of characters - letters, numbers and special characters. 
 

 String can be represented in single or double quotes.

In [33]:
fstString = 'Jeevan'
print(fstString)

secString = "Jeevan"
print(secString)

trdString = '''Jeevan'''
print(trdString)

Jeevan
Jeevan
Jeevan

In [35]:
# three inverted ''' are used in multline string. 
multi = ''''this is 
jeevan'''

print(multi)

'this is
jeevan

In [36]:
var = 4565
type(var)

int

In [43]:
var1 = "4565"
type(var1)

str

In [44]:
float(var1)   #this is possible because var1 is purly numeric string.

4565.0

In [47]:
var2 = "2345kk"
type(var2)

str

In [ ]:
float(var2) #this will through an error because this is not possible because var2 is not purly numberic stirng.