### Python Output


We use the print() function to output data to the standard output function.

In [1]:
# Print a single variable
a = 10
print(a)

10

In [6]:
# print multiple variables
a=10
b=20
c=40

print(a,b,c)

10 20 40

In [8]:
# Print multiple values

print(10,20,30,40)

10 20 30 40

In [9]:
# print combination of variable and values
a=10
print("The value of a:",a)

The value of a: 10

In [10]:
mynum = 10
myname = "Jeevan"

In [12]:
print("My name is:",myname,"My number is:",mynum)

My name is: Jeevan My number is: 10

In [13]:
# curly brace formate.
print("My number is: {} and my namme is; {}".format(mynum,myname))

My number is: 10 and my namme is; Jeevan

In [14]:
print("My number is: {x} and my namme is; {y}".format(x=mynum,y=myname))

My number is: 10 and my namme is; Jeevan