In [1]:
import pandas as pd

df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## For Continuous Variable

In [6]:
#Get single column
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [7]:
#Sum of single column
df['total_bill'].sum()

4827.77

In [9]:
#Total number of data points
len(df['total_bill'])

244

In [8]:
#Mean of the data.
df['total_bill'].mean()

19.785942622950824

In [10]:
#Median
df['total_bill'].median()

17.795

In [11]:
#min value in the data.
df['total_bill'].min()

3.07

In [12]:
#Max value in the data.
df['total_bill'].max()

50.81

In [13]:
#range
df['total_bill'].max() - df['total_bill'].min()

47.74

In [14]:
#Variance
df['total_bill'].var()

79.25293861397826

In [15]:
#standard deviation
df['total_bill'].std()

8.902411954856856

In [16]:
#25 percentile or Q1
df['total_bill'].quantile(0.25)

13.3475

In [17]:
# 75 percentile or Q3
df['total_bill'].quantile(0.75)

24.127499999999998

In [18]:
#IQR = Q3 - Q1
df['total_bill'].quantile(0.75) - df['total_bill'].quantile(0.25)

10.779999999999998

In [21]:
# to get all the above with one command.
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

### Skewness
- if skewness = 0, then its is called as perfect normal distribution.
- if skewness value lies betwee -1 to +1 -- normal distribution.
- if skewness < -1, then it is left skewed.
- if skewness > +1, then its right skewed.
-

In [20]:
#skewness
df['total_bill'].skew()

1.1332130376158205

In [22]:
#Kurtosis
df['total_bill'].kurt()

1.2184840156638854

In [24]:
#Covariance
df[['total_bill', 'tip']].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [25]:
# correlation
df[['total_bill', 'tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000